WebService/src/IEventSynServiceProxy.WSDL

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="IEventSynServiceProxyService" targetNamespace="http://sjzt.iexchange.proxy.syn.digitalcity.kingdom.com/" xmlns:ns1="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sjzt.iexchange.proxy.syn.digitalcity.kingdom.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://sjzt.iexchange.proxy.syn.digitalcity.kingdom.com/" xmlns:tns="http://sjzt.iexchange.proxy.syn.digitalcity.kingdom.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="sspProcess" type="tns:sspProcess"/>
    <xsd:complexType name="sspProcess">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="requestXML" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="sspProcessResponse" type="tns:sspProcessResponse"/>
    <xsd:complexType name="sspProcessResponse">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="return" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="process" type="tns:process"/>
    <xsd:complexType name="process">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="requestXML" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="processResponse" type="tns:processResponse"/>
    <xsd:complexType name="processResponse">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="return" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="sspProcessResponse">
    <wsdl:part element="tns:sspProcessResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sspProcess">
    <wsdl:part element="tns:sspProcess" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="process">
    <wsdl:part element="tns:process" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processResponse">
    <wsdl:part element="tns:processResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IEventSynServiceProxy">
    <wsdl:operation name="sspProcess">
      <wsdl:input message="tns:sspProcess" name="sspProcess">
    </wsdl:input>
      <wsdl:output message="tns:sspProcessResponse" name="sspProcessResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="process">
      <wsdl:input message="tns:process" name="process">
    </wsdl:input>
      <wsdl:output message="tns:processResponse" name="processResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IEventSynServiceProxyServiceSoapBinding" type="tns:IEventSynServiceProxy">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sspProcess">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sspProcess">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sspProcessResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="process">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="process">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="processResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IEventSynServiceProxyService">
    <wsdl:port binding="tns:IEventSynServiceProxyServiceSoapBinding" name="IEventSynServiceProxyPort">
      <soap:address location="http://192.168.1.112:7070/KDSYNServer/IEventSynServiceProxy"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>